body {
    margin: 0;
    background-color: #FFDBE9;
    padding-bottom: 100px;
    font-family: "Cookie"
}

/* .left {
    float: left;
}

.right {
    float: right;
} */

#navBar {
    width: 100%;
    min-width: 700px;
    height: 75px;
    padding: 0px 150px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #FFDBE9;
}

#navBar .option {
    width: 30%;
    text-align: center;
    color: gray;
    line-height: 75px;
    font-size: 48px;
    cursor: pointer;
    display: inline-block
}

#navBar .option:hover {
    color: green;
}

#backgroundWrapper {
    width: 100%;
    height: 100%;
    position:relative;
}

#backgroundImg {
    z-index: 0;
}

#backgroundImg::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 3px);
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
}

.sectionHeader {
    border-bottom: 5px solid #FFDBE9;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
}

#timeDetails {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 250px);
    width: 600px;
    height: 300px;
    color: white;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    z-index: 3
}

#timeDetails #tick {
    margin-top:50px;
    font-size: 32px;
}

#partyWrapper {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    height: 800px;
}

#partyWrapper .divider {
    width: 10px;
    /* border: 1px solid #ffffff; */
    background-color: #ffffff;
    border-radius: 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.partyContent {
    height: 200px;
    vertical-align: top;
    width: calc(50% - 15px);
    display: inline-block;
}

.partyContent .content {
    height: 100px;
    width: 100%;
    padding: 10px 25px;
    box-sizing: border-box;
    position: relative;
}

.partyContent .content img {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
}

.partyContent .content .label {
    font-size: 28px;
    line-height: 32px;
    margin-top:15px;
    color: #96304c;
    width: calc(100% - 100px);
    font-weight: bold;
    /* vertical-align: top; */
    /* display: inline-block; */
    position: absolute;
}
.subtitle {
    font-size: 18px;
    line-height: 18px;
    height: 18px;
}

.bridesmaidWrap img {
    left: 0px;
}

.bridesmaidWrap .label {
    /* padding-left: 15px; */
    left: 100px;
    text-align: left;
}

.groomsmanWrap img {
    right: 0px;
}

.groomsmanWrap .label {
    /* padding-right: 15px; */
    text-align: right;
    right: 100px;
}

#guestTableWrapper {
    width: 600px;
}

.table {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
    width: 100%;
}

.cell {
    display: table-cell;

}

#guestTableWrapper .row {
    border-top: 1px solid black;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
}

#guestTableWrapper .cell {
    width: 400px;
    height: 100%;
    border-top: 2px solid black
}

.cell:first {
    border-top: none;
}

.cell.secondary {
    border-top: none;
}

.cell.status {
    width: 200px;
}

#rsvpWrapper {
    position: fixed;
    top: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 100vh;
}

#rsvpModal {
    width: 700px;
    /* min-height: 185px; */
    background-color: #ffffff;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 10%;
    z-index: 10;
    position: relative;
}

#rsvpModal #x {
    position: absolute;
    right: 10px;
    top: 5px;
    /* color: #c9cacc; */
    color: #ff4444;
    font-weight: bold;
    width: 25px;
    height: 25px;
    font-size: 30px;
    cursor: pointer;
}

#modalContent {
    padding: 10px;
}

#rsvpModal .divider {
    width: 117%;
    background-color: #000000;
    border-radius: 5px;
    height: 3px;
    box-sizing: border-box;
    margin: 15px 40px;
}

#invitationInput {
    width: 70%;
    margin: 20px 15%;
}

.header {
    font-size: 38px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.btn {
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;  
    cursor: pointer;
    background-color: #44bb00;
    color: #ffffff;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 10px;
}

.guestPartyRow {
    height: auto;
}

.guestPartyContent {
    width: 75%;
    /* display: inline-block; */
    box-sizing: border-box;
    /* white-space: nowrap; */
    height: auto;
}

.guest {
    width: 100%;
    /* display: inline-block; */
    box-sizing: border-box;
    white-space: nowrap;
}

.guestPartyMe {
    width: 20%;
    /* display: inline-block; */
    box-sizing: border-box;
    vertical-align: middle;
}


.guest div {
    /* width: 50%; */
    padding: 10px 0;
    text-align: left;
    box-sizing: border-box;
    height: 45px;
    line-height: 25px;
    font-size: 22px;
    display: inline-block;
}

.guest div.rsvp {
    width: 100px;
}

.guest div.name {
    width: calc(100% - 100px);
    text-align: left;
}

#modalContent .table {
    width: 80%;
    margin: 0 auto;
}

.guestPartyMe  .btn {
    margin-bottom: 0;
}

.guestRSVP {
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
}

.rsvpLabel {
    width: 200px;
}