body {
    margin: 75px 0 0 0;
    background-color: #FFDBE9;
    padding-bottom: 100px;
    font-family: "Cookie", cursive;
    min-width: 820px;
}

.tabContent {
    display: none;
}

.block {
    display: block !important;
}

.inline {
    display: inline-block;
}

#entry.tabContent {
    display: block;
}

.sectionHeader {
    font-size: 70px;
    color: #99838b;
    width: 100%;
    height: 75px;
    line-height: 75px;
    margin-bottom:25px;
    text-align: center;
}

.sectionHeader.smallHeader {
    font-size: 36px;
    line-height: 40px;
    height: auto;
}

.disclaimer {
    margin-top: 45px;
}

#rsvpBtn {
    width: 200px;
    height: 45px;
    font-size: 32px;
    line-height: 50px;
    background-color: #ffffff;
    border: 1px solid #000000;
    cursor: pointer;
    font-family: 'Kalam', cursive;
    margin: 0 auto;
    margin-top: 20px; 
    color: black;
    border-radius: 15px;
}

.subSectionHeader {
    font-weight: bold;
    color: #96304c;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 38px;
    margin-top: 25px;
}

#navBar {
    width: 100%;
    min-width: 700px;
    height: 75px;
    padding: 0px 5%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: #FFDBE9;
}

@media(max-width: 910px) {
    #navBar {
        padding: 0 !important;
    }
}

#navBar .option {
    width: calc(20% - 3px);
    text-align: center;
    color: gray;
    line-height: 75px;
    font-size: 48px;
    height: 75px;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
}

#navBar .option:hover {
    color: green;
}

@media (max-width: 1300px) {
    #rsvpNavigation {
        display: none !important;
    }
    #navBar .option { 
        width: calc(25% - 3px);
    }
}

#backgroundWrapper {
    width: 100%;
    height: 100%;
    position:relative;
}

#backgroundImg {
    z-index: 0;
}

#backgroundImg::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 3px);
    width: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
}

.timeHeader {
    border-bottom: 5px solid #FFDBE9;
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
}

#timeDetails {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 300px);
    width: 600px;
    height: 300px;
    color: white;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    z-index: 3
}

#timeDetails #tick {
    margin-top: 20px;
    font-size: 32px;
}

.contentWrapper {
    width: 900px;
    margin: 0 auto;
    margin-top: 35px;
    /* height: 800px; */
}

#partyWrapper {
    height: 1325px;
}

#partyWrapper .divider {
    width: 10px;
    /* border: 1px solid #ffffff; */
    background-color: #ffffff;
    border-radius: 5px;
    height: 90%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.partyContent {
    height: 200px;
    vertical-align: top;
    width: calc(50% - 15px);
    display: inline-block;
}

.partyContent .content {
    height: 150px;
    width: 100%;
    padding: 10px 25px;
    box-sizing: border-box;
    position: relative;
}

.partyContent .content img {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    display: inline-block;
    position: absolute;
}

.partyContent .content .label {
    font-size: 38px;
    line-height: 38px;
    margin-top: 30px;
    color: #96304c;
    width: calc(100% - 100px);
    font-weight: bold;
    /* vertical-align: top; */
    /* display: inline-block; */
    position: absolute;
}
.subtitle {
    font-size: 24px;
    line-height: 24px;
    height: 24px;
}

.bridesmaidWrap img {
    left: 0px;
}

.bridesmaidWrap .label {
    /* padding-left: 15px; */
    left: 140px;
    text-align: left;
}

.groomsmanWrap img {
    right: 0px;
}

.groomsmanWrap .label {
    /* padding-right: 15px; */
    text-align: right;
    right: 140px;
}

.partyContent .subtitle {
    font-family: 'Kalam', cursive;
}

#guestTableWrapper {
    width: 600px;
}

.table {
    display: table;
    width: 100%;
}

.row {
    display: table-row;
    width: 100%;
}

.cell {
    display: table-cell;

}

#guestTableWrapper .row {
    border-top: 1px solid black;
    height: 50px;
    line-height: 50px;
    font-size: 32px;
}

#guestTableWrapper .cell {
    width: 400px;
    height: 100%;
    border-top: 2px solid black
}

.cell:first {
    border-top: none;
}

.cell.secondary {
    border-top: none;
}

.cell.status {
    width: 200px;
}

#rsvpWrapper {
    position: fixed;
    top: 0;
    z-index: 8;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
}

#dietaryRestrictionInput {
    width: 90%;
    max-width: 500px;
    height: 75px;
    margin: 0 auto;
    margin-bottom: 30px;
}

#rsvpDimmer {
    position: fixed;
    top: 0;
    z-index: 8;
    background-color: rgba(0, 0, 0, .4);
    width: 100vw;
    height: 100vh;
}

#rsvpModal {
    width: 700px;
    /* min-height: 185px; */
    background-color: #ffffff;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 10%;
    z-index: 10;
    position: relative;
}

#rsvpModal #x {
    position: absolute;
    right: 10px;
    top: 5px;
    /* color: #c9cacc; */
    color: #ff4444;
    font-weight: bold;
    width: 25px;
    height: 25px;
    font-size: 30px;
    cursor: pointer;
}

#modalContent {
    padding: 10px;
    text-align: center;
    max-height: 60vh;
    overflow-y: auto;
}

#modalContent .divider {
    width: 117%;
    background-color: #000000;
    border-radius: 5px;
    height: 3px;
    box-sizing: border-box;
    margin: 15px 40px;
}


/* Mobile view adjustments */
#modalContent.mobile {
    max-height: initial !important;
}

#modalContent.mobile input {
    height: 40px;
    padding-left: 5px;
    font-size: 36px;
}

#modalContent.mobile input {
    height: 40px;
    padding-left: 5px;
    font-size: 36px;
}

#modalContent.mobile input[type=radio] {
    height: .5em;
    width: .5em;
}

#modalContent.mobile .btn {
    height: 50px;
    width: 250px;
    line-height: 50px;
    font-size: 32px;
}

#modalContent.mobile .guest div {
    font-size: 40px;
}

#modalContent.mobile .guest div.rsvp {
    width: 200px;
}

#modalContent.mobile .divider {
    margin: 35px 5%;
    width: calc(100vw - 50%);
}

#modalContent.mobile .searcher {
    margin-bottom: 50px;
}

#modalContent.mobile h2 {
    font-size: 42px;
}

#modalContent.mobile h3 {
    font-size: 36px;
}

#invitationInput {
    width: 70%;
    margin: 20px 15%;
}

.header {
    font-size: 38px;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.modalAlertMessage {
    margin-bottom: 20px;
}

.btnWrapper {
    margin: 0 auto;
    display: inline-block;
}

.btnWrapper .btn {
    display: inline-block;
}

.btn {
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;  
    cursor: pointer;
    background-color: #44bb00;
    color: #ffffff;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 10px;
    font-family: 'Kalam', cursive;

}

.btn.nav {
    width: 50% !important;
}

.btn.lodge {
    margin-right: 15px;
    background-color: gray;
    width: 250px;
}


#trip .btnWrapper {
    text-align: center;
    width: 100%;
}

#modalContent.mobile .btn.nav {
    margin-bottom: 40px;
}

.btn.big {
    height: 32px;
    line-height: 32px;
    font-size: 32px;
    width: 300px;
    padding: 5px 10px;
}

.btn.reg {
    background-color: ghostwhite;
    border: 1px solid black;
    color: #96304c;
}

.btn .icn {
    width: 32px;
    height: 32px;
    line-height: 100%;
    /* margin-top: 7px; */
    margin-right: 20px;
    display: inline-block;
}

.btn .icnText {
    vertical-align: top;
    margin: 1.5px 0 0 3px;
}

.btn.error {
    background-color: #ff4400;
}

.btnWrapper .btn.error {
    margin-right: 20px;
}

.guestPartyRow {
    height: auto;
}

.guestPartyContent {
    width: 75%;
    /* display: inline-block; */
    box-sizing: border-box;
    /* white-space: nowrap; */
    height: auto;
}

.guest {
    width: 100%;
    /* display: inline-block; */
    box-sizing: border-box;
    white-space: nowrap;
}

.guestPartyMe {
    width: 20%;
    /* display: inline-block; */
    box-sizing: border-box;
    vertical-align: middle;
}


.guest div {
    /* width: 50%; */
    padding: 10px 0;
    text-align: left;
    box-sizing: border-box;
    height: 45px;
    line-height: 25px;
    font-size: 22px;
    display: inline-block;
}

.guest div.rsvp {
    width: 100px;
}

.guest div.name {
    width: calc(100% - 100px);
    text-align: left;
}

#modalContent .table {
    width: 80%;
    margin: 0 auto;
}

.guestPartyMe  .btn {
    margin-bottom: 0;
}

.guestRSVP {
    width: 80%;
    margin: 0 auto;
    font-size: 32px;
}

.rsvpLabel {
    width: 100%;
}




#venueImg {
    width: 800px;
}

.textContent {
    width: 500px;
    margin: 0 auto;
    margin-bottom:50px;
    text-align: center;
    font-size: 32px;
    font-family: 'Kalam', cursive;
}

.weddingPhoto {
    max-width: 500px;
    max-height: 500px;
    margin: 10px;
    text-align: center;
}

.contentWrapper.photo {
    width: 100%;
    text-align: center;
}

#modalContent.mobile .header {
    font-size: 42px;
    font-family: 'Kalam', cursive;
}

.attractionGroup {
    width: 100%;
    margin-bottom: 40px;
}

.attractionGroup div {
    display: inline-block;
    vertical-align: middle;

}

.attractionGroup .imgWrap {
    height: 100%;
    width: 40%;
}


.attractionGroup img {
    width: 100%;
    vertical-align: baseline;
}

.attractionGroup .textContent {
    width: 45%;
    margin: 0 5%;
    text-align: center;
}